<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  import * as types from './store/modules/mutation-types'
  export default {
    name: 'app',
    mounted () {
      this.$store.commit(types.INIT_AUTH)
    }
  }
</script>
