<template>
  <form v-on:submit.prevent="handleLogin">
    <flash-message variant="danger"></flash-message>
    <b-alert :show="hasAuthMessage" :variant="message.variant">
      {{message.message}}
    </b-alert>
    <div class="form-group">
      <label for="email">Email <span class="text-danger">*</span></label>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
        <input id="email"
               type="email"
               name="email"
               v-model="email"
               v-validate="'required|email'"
               :class="{'input': true, 'is-invalid': errors.has('email') }"
               class="form-control"/>
      </div>
      <small v-show="errors.has('email')" class="help text-danger">{{ errors.first('email') }}</small>
    </div>
    <div class="form-group">
      <label for="password">Password <span class="text-danger">*</span></label>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
        <input id="password"
             type="password"
             name="password"
             v-model="password"
             v-validate="'required'"
             class="form-control"/>
      </div>
      <small v-show="errors.has('password')" class="help text-danger">{{ errors.first('password') }}</small>
    </div>
    <button type="submit" class="btn btn-primary" :disabled="!bothFieldsNotEmpty || errors.any() || isAuthenticating">
      <template v-if="!isAuthenticating">
        <i class="fa fa-check" aria-hidden="true"></i> Login
      </template>
      <template v-else>
        <i class="fa fa-spinner fa-spin fa-fw"></i> Authenticating
      </template>
    </button>

    <a href="#" class="forgot-pass">Forgot Password?</a><br>
  </form>
</template>

<script>
  import { mapState } from 'vuex'
  import HTTP from '../../utils/http-common'
  import * as types from '../../store/modules/mutation-types'
  import * as env from '../../.env'
  import * as authUtils from '../../utils/auth'
  import _ from 'lodash'

  export default {
    data: function () {
      return {
        email: 'willms.elmira@example.net',
        password: 'secret'
      }
    },
    computed: {
      ...mapState({
        isAuthenticating: state => state.auth.isAuthenticating,
        message: state => state.auth.message
      }),
      hasAuthMessage () {
        return this.$store.getters.hasAuthMessage
      },
      bothFieldsNotEmpty () {
        if (_.trim(this.email) === '' || _.trim(this.password) === '') {
          return false
        }
        return true
      }
    },
    methods: {
      handleLogin: function () {
        let vm = this
        vm.$store.commit(types.SET_ISAUTHENTICATING, true)
        vm.$store.commit(types.CLEAR_AUTH_MESSAGE)
        const data = {
          'grant_type': 'password',
          'client_id': env.CLIENT_ID,
          'client_secret': env.CLIENT_SECRET,
          'username': vm.email,
          'password': vm.password,
          'scope': ''
        }
        HTTP.post(env.TOKEN_URL, data).then(r => {
          localStorage.setItem(env.ACCESS_TOKEN_KEY, r.data.access_token)
          authUtils.setToken(r.data.access_token, r.data.expires_in)
          HTTP.get(env.API_USER, {headers: {Authorization: 'Bearer ' + r.data.access_token}}).then(r => {
            vm.$store.commit(types.SET_ISAUTHENTICATING, false)
            vm.$store.commit(types.SET_AUTH_USER, r.data)
            authUtils.setUser(r.data)
            vm.$router.push({name: 'admin_dashboard'})
          }).catch(e => {
            vm.$store.commit(types.SET_ISAUTHENTICATING, false)
            vm.$store.commit(types.SET_AUTH_MESSAGE, {message: e.response.data.message, variant: 'danger'})
          })
        }).catch(e => {
          vm.$store.commit(types.SET_ISAUTHENTICATING, false)
          vm.$store.commit(types.SET_AUTH_MESSAGE, {message: e.response.data.message, variant: 'danger'})
        })
      }
    },
    mounted () {
      if (authUtils.isAuthenticated()) {
        this.$router.push({name: env.ADMIN_DASHBOARD_ROUTE})
      }
    }
  }
</script>
